.page {
  font-family: "Cormorant Garamond";
}

.page__menu {
  margin: 40px auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.centered-block {
  margin: auto;
}

.header {
  display: flex;
  height: 95px;
  min-width: 1280px;
  max-width: 1330px;
}

.header__link {
  font-size: 28px;
  text-decoration: none;
  color: #10191e;
}

.header__link::after {
  content: "!";
}

.header__link[lang="ru"]::before {
  content: "Привет, меня зовут ";
}

.header__link[lang="en"]::before {
  content: "Hello, my name is ";
}

.header__link[lang="fr"]::before {
  content: "Bonjour, je suis ";
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  min-width: 1280px;
  min-height: 75px;
  max-width: 1330px;
}

.menu__link {
  margin-right: 20px;
  font-size: 18px;
  text-decoration: none;
  color: #10191e;
  transition: 0.7s linear;
}

.menu__link:hover {
  color: black;
  opacity: 0.6;
}

.menu__link:last-of-type {
  margin-right: 0;
}

.menu__link_active {
  text-decoration: underline;
}

.content {
  min-width: 1280px;
  max-width: 1330px;
}

.content__title {
  margin: 0 0 40px;
  font-size: 34px;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-row_reversed {
  flex-direction: row-reverse;
}

.flex-row_space_bottom {
  margin-bottom: 60px;
}

.flex-column {
  display: flex;
  justify-content: space-between;
}

.flex-column_reversed {
  flex-direction: column-reverse;
}

.project {
  background-position: center;
  background-size: cover;
}

.project_width_l {
  width: 636px;
}

.project_width_m {
  width: 306px;
}

.project_height_xl {
  height: 557px;
}

.project_height_l {
  height: 430px;
}

.project_height_m {
  height: 290px;
}

.project_height_s {
  height: 240px;
}

.project_name_music-album {
  background-image: url(./images/album.png);
}

.project_name_design-principles {
  background-image: url(./images/design.png);
}

.project_name_slider {
  background-image: url(./images/slider.gif);
}

.project_name_reactive {
  background-image: url(./images/reactive.gif);
}

.project_name_how-to-study {
  order: 3;
  background-image: url(./images/how-to-study.png);
}

.project_name_across-russia {
  order: 2;
  background-image: url(./images/across-russia.png);
}

.project_name_mesto {
  order: 1;
  background-image: url(./images/mesto.png);
}

.project__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: rgb(0 0 100 / 80%);
  opacity: 0;
  transition: 0.5s linear;
}

.project__overlay:hover {
  opacity: 1;
}

.project__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  height: 95px;
  min-width: 1280px;
  max-width: 1330px;
}

.footer__logo {
  align-self: center;
  width: 145px;
  height: 25px;
  background-image: url(https://pictures.s3.yandex.net/logo_black.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .list_type_small {
    display: grid;
    justify-content: center;
    grid-row-gap: 30px;
  }
}

@media (max-width: 768px) {
  .list_type_midle {
    display: grid;
    justify-content: center;
    grid-row-gap: 30px;
  }
}

@media (max-width: 768px) {
  .list_type_footer {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 30px;
  }
}

@media (max-width: 768px) {
  .project_width_l {
    width: 636px;
  }
}

@media (max-width: 768px) {
  .project_name_how-to-study {
    order: 1;
  }
}

@media (max-width: 768px) {
.list_type_how {
  width: 636px;
  height: 535px;
}
}
